# all deny
*
*/

# white list for directory
!*/

# general white list
!.gitignore
!Brim/README.md
!CentOS/README.md
!CentOS/doc/*.png
!CSS/README.md
!Docker/README.md
!ELK/README.md
!ELK/Elasticsearch/QueryDSL/README.md
!ELK/Kibana/README.md
!ELK/Logstash/README.md
!Shell/PenetrationTest/README.md

# indivisual white list

# intended black list