# all deny
*
*/

# white list for directory
!*/

# general white list
!.gitignore
!Brim/README.md
!CentOS/README.md
!CentOS/doc/*.png
!CSS/README.md
!Debian/README.md
!Debugger/pwndbg.md
!Disassembler/Ghidra.md
!Docker/README.md
!Elastic/README.md
!Elastic/Elasticsearch/QueryDSL/README.md
!Elastic/Kibana/README.md
!Elastic/Logstash/README.md
!ESXi/README.md
!Git/README.md
!HTML/README.md
!Kali/README.md
!Markdown/README.md
!PHP/README.md
!Proxmox/README.md
!Python/README.md
!Python/Anaconda/README.md
!Python/JupyterLab/README.md
!Python/Virtualenv/README.md
!Python/Virtualenv/pwntools.md
!Python/Virtualenv/pwninit.md
!Python/Virtualenv/ROPgadget.md
!Shell/PenetrationTest/README.md
!Vim/README.md
!Volatility/README.md
!Ubuntu/README.md
!Unity/README.md
!VSCode/README.md
!VyOS/README.md
!Windows/README.md
!Windows/cmd.exe/README.md
!Windows/Powershell/README.md
!Windows/WSL/README.md
!Zeek/README.md

# indivisual white list

# intended black list