# all deny
*
*/

# white list for directory
!*/

# general white list
!.gitignore
!Brim/README.md
!CentOS/README.md
!CentOS/doc/*.png
!CSS/README.md
!Shell/PenetrationTest/README.md

# indivisual white list

# intended black list